fastapi
uvicorn
python-dotenv
asyncpg
databases
openai
python-multipart
httpx
tiktoken
pypdf
langchain
langchain-core
langchain-openai
langchain-postgres
psycopg
sqlalchemy
pydantic-settings
requests
python-docx
json-repair
pymupdf
